<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript">
		function checkval(form){
			if( form.val1.value<1 || form.val2.value<1 || form.val3.value<1 || form.a2.value<1 || form.b2.value<1 || form.c2.value<1 || form.a31.value<1 || form.a32.value<1 || form.a33.value<1 || form.a4.value<1 || form.b4.value<1 || form.c4.value<1 || form.a5.value<1 || form.b5.value<1 || form.c5.value<1 || form.a6.value<1 || form.b6.value<1 || form.a7.value<1 || form.b7.value<1 || form.a8.value<1 || form.b8.value<1 || form.c8.value<1)
				{
					alert("Please fill all the entries")
					return false
				}
			else{
				return true
			}
		}
	</script>
		
		
		<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#big{
	font-size: 150%;
}
			
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}
</style>
	</head>
<h2 align="center">
	EVALUATION RUBRIC: <b>Doctoral Degree Research Proposal</b>
</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
		<b>Student ID:</b> <%= stuid %>
    </div>
    <div class="col-sm">
		<b>Evaluator:</b> <%= ename %>
    </div>
    <div class="col-sm">
		<b>Synopsis Date Of Evaluation:</b> <%= dates %>
    </div>
  </div>
</div>
	<form action="/final/<%= stuid %>/<%= ename %>/<%= dates %>/<%= formtype %>" method="POST" onSubmit=" return checkval(this)">
<div class="container">
	<table id="customers">
  <tr>
    <th id="big">Evaluation/Guidance</th>
    <th>Unacceptable</th>
    <th>Marginal</th>
	<th>Acceptable</th>
  </tr>
  <tr>
	  <td><b>1. Problem Definition‐Hypothesis:</b>
Stated research problem clearly;
Motivation for undertaking the research.</td>
    <td><input type="radio" name="val1" value="1">Arguments are incorrect,
incoherent, or flawed<br>
	  <input type="radio" name="val2" value="1">Application problem<br>
	  <input type="radio" name="val3" value="1">Problem statement is not Clear
	  </td>
    <td><input type="radio" name="val1" value="2">Arguments are coherent and
clear <br>
		<input type="radio" name="val2" value="2">Marginally research problem<br>
		<input type="radio" name="val3" value="2">Problem statement need to
modify
	  </td>
	  <td><input type="radio" name="val1" value="3">Arguments are superior<br>
	  <input type="radio" name="val2" value="3">Core research problem<br>
		  <input type="radio" name="val3" value="3">Problem statement is
acceptable
	  </td>
  </tr>
  <tr>
	  <td><b>2. Specific Aim and Objectives:</b>
Provided succinct aim with clarity;
Logical and quantifiable objectives with feasibility of
completion</td>
    <td><input type="radio" name="a2" value="1">Objectives are poorly defined<br>
	  <input type="radio" name="b2" value="1">No potential of novelty<br>
		<input type="radio" name="c2" value="1">Limited / infeasible
	  </td>
    <td><input type="radio" name="a2" value="2">Objectives are clear<br>
	  <input type="radio" name="b2" value="2">Partial potential for novelty<br>
		<input type="radio" name="c2" value="2">Partial Feasibility
	  </td>
	  <td><input type="radio" name="a2" value="3">Well defined Objectives<br>
	  <input type="radio" name="b2" value="3">Has novelty potential<br>
		  <input type="radio" name="c2" value="3">Acceptable feasibility
	  
	  </td>
  </tr>
  <tr>
	  <td><b>3. Contribution ‐ Impact of Proposed Research:</b>
Demonstrated the potential value of solution or
contribution to the research problem in advancing
knowledge within and outside the area/field of study.</td>
    <td><input type="radio" name="a31" value="1">Limited / no expansion upon
previous research<br>
	  <input type="radio" name="a32" value="1">Limited potential for success<br>
      <input type="radio" name="a33" value="1">Limited theoretical or applied
significance
	  </td>
	  <td>
		<input type="radio" name="a31" value="2">Builds upon previous
research<br>
	  <input type="radio" name="a32" value="2">Marginal potential for success<br>
	<input type="radio" name="a33" value="2">Reasonable theoretical or
applied significance
	  </td>
	  <td><input type="radio" name="a31" value="3">Acceptable extension of
previous research<br><input type="radio" name="a32" value="3">Acceptable potential for
discovery<br> <input type="radio" name="a33" value="3">Acceptable theoretical or
applied significance</td>
  </tr>
  <tr>
	  <td><b>4. Subject and Literature of Previous Work:</b>
Demonstrated sound knowledge in the area,
Prior literature on specific research problem.<br>
		  <b>Preliminary Findings:</b>
Analyzed and interpreted Research data effectively.</td>
    <td><input type="radio" name="a4" value="1">Reflects poor understanding of
subject and associated
literature<br>
	  <input type="radio" name="b4" value="1">Demonstrates poor
understanding of fundamental
concepts<br>
		<input type="radio" name="c4" value="1">No / Irrelevant result
	  </td>
    <td><input type="radio" name="a4" value="2">Reflects understanding of
subject and associated
literature<br>
	  <input type="radio" name="b4" value="2">Demonstrates understanding
of fundamental concepts<br>
		 <input type="radio" name="c4" value="2">Results are OK
	  </td>
	  <td><input type="radio" name="a4" value="3">Reflects mastery of subject
and associated literature<br>
	 <input type="radio" name="b4" value="3">Demonstrates mastery of
fundamental concepts<br>
     <input type="radio" name="c4" value="3">Results are remarkable
	  </td>
  </tr>
  <tr>
	  <td><b>5. Methodology & Evaluation Approach:</b>
Sound state‐of‐the-art research methodology to solve;
Described methods and tools associated in developing
solution effectively
Defined evaluation criteria</td>
    <td><input type="radio" name="a5" value="1">Proposed methodology is
missing / ineffective<br>
    <input type="radio" name="b5" value="1">Inadequate knowledge of
proposed methods and tools<br>
	  <input type="radio" name="c5" value="1">Evaluation criteria missing /
vague</td>
	   <td><input type="radio" name="a5" value="2">Proposed methodology is
partially satisfactory<br>
    <input type="radio" name="b5" value="2">Knowledge of proposed
methods and tools is average<br>
	  <input type="radio" name="c5" value="2">Evaluation criteria unclear /
ineffective</td>
	   <td><input type="radio" name="a5" value="3">Proposed methodology is
satisfactory<br>
    <input type="radio" name="b5" value="3">Acceptable Knowledge of
proposed methods and tools<br>
	  <input type="radio" name="c5" value="3">Acceptable evaluation criteria
and effective</td>
  </tr>
		<tr>
			<td><b>6. Scope of Research Work:</b>
Demonstrated awareness of broad implications or
research; Broader impacts may include societal,
economic, technical, ethical, technological or business
aspects</td>
    <td><input type="radio" name="a6" value="1">Application area is not
demonstrated<br>
    <input type="radio" name="b6" value="1">The research outcome is
unethical / immoral
	  </td>
			
			<td><input type="radio" name="a6" value="2">Application area of research
work is covered marginally<br>
    <input type="radio" name="b6" value="2">The work is ethical enough
	  </td>
			
			<td><input type="radio" name="a6" value="3">Application of the work is
demonstrated well<br>
    <input type="radio" name="b6" value="3">The work is principled
	  </td>
  </tr>
		<tr>
			<td><b>7. Critical Thinking:</b>
Demonstrated capability for independent research in the
area of study; significant expertise in the area,
and ability to make original contributions to the field.<br>
    <td><input type="radio" name="a7" value="1">Demonstrates rudimentary
critical thinking skills<br>
    <input type="radio" name="b7" value="1">Demonstrates limited originality
	  </td>
			
			<td><input type="radio" name="a7" value="2">Demonstrates average critical
thinking skills<br>
    <input type="radio" name="b7" value="2">Demonstrates originality
	  </td>
			
			<td><input type="radio" name="a7" value="3">Exhibits mature, critical
thinking skills<br>
    <input type="radio" name="b7" value="3">Demonstrates acceptable
originality
	  </td>
  </tr>
		<tr>
			<td><b>8. Quality of Written and Oral Communication:</b>
Research Proposal (a) written and (b) oral presentation
Gantt Chart with bi-monthly outcomes and milestones</td>
    <td><input type="radio" name="a8" value="1">Organization and
Documentation is poor<br>
		<input type="radio" name="b8" value="1">Poor oral skill<br>
	  <input type="radio" name="c8" value="1">Unrealistic progress charted</td>
			
			<td><input type="radio" name="a8" value="2">Organization is logical and
adequate documentation<br>
		<input type="radio" name="b8" value="2">Average oral skill<br>
	  <input type="radio" name="c8" value="2">Needs amendments for achievability</td>
			
			<td><input type="radio" name="a8" value="3">Organization and
Documentation is poor<br>
		<input type="radio" name="b8" value="3">Acceptable oral skill<br>
	  <input type="radio" name="c8" value="3">Realistic Progress Charted</td>
			
  </tr>
</table>
	<br>
	<h5>
		Comments
	</h5>
	<textarea rows="4" cols="156" name="comment"></textarea>
	<button type="submit" class="btn btn-primary">Submit</button>
	</div>
	</form>
</html>